@import url(main.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&display=swap');


.inner-about-description{
    height: 50em;
}

.section-languages {
    text-align: center;
    border-bottom: 1px solid #3e3e3e;
    border-top: 1px solid #3e3e3e;
    padding-bottom: 3em;
}

.languages{
    padding: 3em 0 3em;
}

.language-list, .platform-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

.language-list li, .platform-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    width: 120px;
    transition: transform 0.3s ease;
}

.platform-list img, .language-list img{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    filter: grayscale(100%); /* Converts images to grayscale */
    transition: filter 0.3s ease-in-out;
}

.other-languages{
    padding: 5em;
}

.platform-list li:hover img, .language-list li:hover img {
    filter: grayscale(0%); /* Restores original color on hover */
}

img[alt="Django Logo"]{
    filter: grayscale(100%) brightness(500%) contrast(90%);
}

img[alt="Java Logo"] {
    filter: grayscale(100%) brightness(220%) contrast(90%);
}

img[alt="AWS Logo"] {
    filter: grayscale(100%) brightness(220%) contrast(90%);
}



